attr==0.3.2
bpython==0.24
contextlib2==21.6.0
cryptography==41.0.3
docutils==0.20.1
HTMLParser==0.0.2
MySQL-python==1.2.5
numpy==1.25.2
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==23.2.0
pywin32==306
PyYAML==5.4.1
truststore==0.7.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
rest_framework
