{% extends 'base/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Delivery Tracking | Transwift Inc.</title>
</head>
<body>
    <h1>Delivery Tracking</h1>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Entering Order ID" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    <!-- Add delivery tracking map and status here -->
</body>
</html>

{% endblock content %}